.login_container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.card_login {
	display: flex;
	width: 60vh;
	height: 60vh;
	align-items: center;
	background: inherit;
	margin: 0px;
	color: #fff;
}

.tab_item {
	border-radius: inherit !important; /* Внимание использовать important очень плохо, не повторяйте!!!  */
	background-color: inherit !important; /* Внимание использовать important очень плохо, не повторяйте!!!  */
	border: none !important; /* Внимание использовать important очень плохо, не повторяйте!!!  */
	color: #fff;
}

.login_title {
	margin-top: 15px;
}

.form_container {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-evenly;
	height: 80%;
	width: 80%;
	margin-top: 15px;
	padding: 15px;
}

.card {
	margin: 0px;
}

.form {
	width: inherit;
}

.login-loader {
	display: flex;
	height: 100vh;
}

@media (max-width: 768px) {
	.tab_item {
		width: 350px;
	}
	.login_container {
		width: inherit;
	}
	.card_login {
		width: inherit;
	}
	.form_container {
		width: 100%;
	}
}

.btn_next {
	margin-left: 15px;
}

.tabs_login {
	border-bottom: 1px solid black;
}

.card_сontainer {
	box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
	background-color: inherit;
	border-radius: 20px;
}
