.container {
	display: flex;
	justify-content: center;
}

.card-сontainer {
	width: 800px;
	min-height: calc(100vh - 60px);
}

.card {
	margin: 20px 0px;
}

.author-block {
	display: flex;
	margin-top: 15px;
}

.author-name-block {
	display: flex;
}

.author-block-item {
	margin-left: 10px;
}

.icon-placehold {
	border-radius: 30px;
	width: 48px;
	height: 48px;
}

.comment-content {
	width: 100%;
	margin: 0px 10px;
}

.no-comments {
	display: flex;
	justify-content: center;
}

.list-group-item {
	background: inherit;
	color: #fff;
}
