.navbar-indent {
	height: 60px;
}

.dropdown-layout::after {
	display: none !important; /* Внимание использовать important очень плохо, не повторяйте!!!  */
}

.dropdown-layout {
	border: none !important; /* Внимание использовать important очень плохо, не повторяйте!!!  */
	background-color: inherit !important; /* Внимание использовать important очень плохо, не повторяйте!!!  */
}

.dropdown-menu[data-bs-popper] {
	top: 0px;
	right: 50px;
	left: auto;
	background-color: rgb(40, 45, 49) !important; /* Внимание использовать important очень плохо, не повторяйте!!!  */
	color: #fff !important; /* Внимание использовать important очень плохо, не повторяйте!!!  */
}

.dropdown-profile-card {
	display: flex;
	padding: 10px;
}

.dropdown-item {
	color: #fff !important; /* Внимание использовать important очень плохо, не повторяйте!!!  */
}

.dropdown-item:hover {
	color: #000000 !important; /* Внимание использовать important очень плохо, не повторяйте!!!  */
}

.dropdown-profile {
	display: flex;
	flex-direction: column;
	margin-left: 10px;
	text-align: right;
}

.navbar {
	position: fixed;
	min-width: 100%;
	height: 60px;
	z-index: 2;
}

.layout-container {
	min-height: calc(100vh - 60px - 30px);
}

.footer {
	margin-top: 10px;
	background-color: var(--bs-body-color);
	width: 100%;
	height: 20px;
}
