.button-comments {
	display: flex;
	justify-content: center;
	cursor: pointer;
}

.container-autor-post {
	display: flex;
	justify-content: space-between;
}
.card {
	background-color: inherit;
	color: #fff;
	border: none;
}
